<p id="notice"><%= notice %></p>

<p>
  <strong>ID</strong>
  <%= @recipient.id_recipient %>
</p>

<%= link_to 'Edit', edit_dashboard_recipient_path(@recipient) %>
<%= link_to 'Back', dashboard_recipients_path %>
