.alert.alert-sucess{role:'alert'}
  = notice

%h2 Doações Recebidas
%table.table.table-striped
  %thead
    %tr
      %th Produto
      %th Valor Doado
      %th{:colspan => "1"}
  %tbody
    - @products.each do |p|
      - p.transactions.each do |t|
        %tr
          %td= p.name
          %td= formatted_real_coin(t.amount)
          %td= link_to "Visualizar", dashboard_transaction_path(t.id)
%br
