// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.container-form{
  margin: 0 auto;
}

#main{
  margin: 0 6em;
  padding: 0 4em;
}

table{
    margin: 20px 0;
}

.form-crud {
  margin: 1em 0;
  padding: 0.5em 3em;
}

.table {
  text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}
